/* 
    Document   : style
    Created on : Mar 31, 2012, 3:37:00 PM
    Author     : thetA
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#button {
    width: 150px;
    height: 30px;
    background-color: #000000;
    box-shadow: 3px 3px 3px #000000;
}

#overlay {
    width: 140px;
    height: 25px;
    margin-left: 5px;
    background-color: #333333;
    text-align: center;
}

#btntext {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 3px 3px 3px #000000;
}

#highlight {
    background-color: #0099cc;
    width: 0px;
    height: 30px;
}